<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lzcge.crowdfunding.manager.dao.ReturnMapper" >


    <select id="selectByProjectId" resultType="lzcge.crowdfunding.entity.Return" parameterType="java.lang.Integer" >
        select
         id, projectid, supportmoney, content
        from t_return
        where projectid = #{projectid,jdbcType=INTEGER}
    </select>
</mapper>